<!-- <h1>Dragon Ball Page</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>
    <input type="text" class="form-control" placeholder="Nombre" [value]="name()" (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)" #txtName>
    <input type="number" class="form-control mt-2" placeholder="Poder" [value]="power()"
      (change)="power.set(txtPower.valueAsNumber)" (input)="power.set(txtPower.valueAsNumber)" #txtPower>

    <button (click)="addCharacter()" class="btn btn-primary mt-2">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h1>Listado</h1>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {
      <li>
        @if(character.power > 500){
        <span>{{idx + 1}} - {{character.name}}</span>
        <strong [class.text-danger]="character.power > 9000" [class.text-primary]="character.power < 9000">
          ({{character.power}})</strong>

        } @else {
        <span><strong>Not enough power!</strong></span>
        }
      </li>
      }
    </ul>
  </div>
</section> -->
